.ant-row{
    background-color:#68A5D6;
    line-height: 48px;
}

.headerRow{
    align-items: center;

}

.colStyleNavigation{
    display: flex;
}

.logo-container{
    align-items: center;
    padding: 0 10px;

}

.logoImage{
    padding: 0 10px;
    
}

.logoWords{
    padding-right: 20px;
}

.colStyle{
    display: flex;
    padding-right: 20px;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.navbar{
    display: flex;
    padding: 0;
    margin: 0;
}

 .headerRow ul li{ 
  text-decoration: none;
    font-size:1rem;
    list-style:none;
    list-style-type: none; 
} 


.headerRow ul li a{
    color: #E8E8E8;
    cursor: pointer;
    padding: 0 20px;
    line-height: 44px;
} 

.headerRow ul li a:hover,
.headerRow ul li a:focus{
    color: white;
    cursor: pointer;
    padding-bottom: 12px;
    border-bottom: solid 3px #FAAD14;
} 

.menuIcon{
    padding-right: 10px; 
} 

.menu-item-simple{
    display: none;
} 


.simple-icon{
    width: 1.7em;
    height: 1.7em;
    
}


    
 

/* BUTTONS NAVIGATION */
.add-feature-button{
    background-color: #FAAD14;
}
.add-feature-button:hover{
    background-color: #68A5D6;
    border: solid 1px #FAAD14
}


.add-feature-button-small{
    background-color: #FAAD14;
    display: none;
}
.add-feature-button-small:hover{
    background-color: #68A5D6;
    border: solid 1px #FAAD14
}



.secureIPButton{
    font-weight: 600;
    color: #E8E8E8;
}

.secureIPButton:hover{
    color: #FAAD14;
}

.avatar{
    margin-left: 20px;
}


@media (max-width: 1155px) { 
    .add-feature-button-small{
        background-color: #FAAD14;
        display: inline;
    }
    
    .add-feature-button{
        background-color: #FAAD14;
        display: none;
    }

    .logoWords{
        display: none;
    }

 }
 @media (max-width: 900px) { 
    .menu-item{
        display: none;
    }
    .menu-item-simple{
        display: inline-block;
    }
   
    .simple-menu-container{
        /* align-items: center; */
        /* padding-top:5px; */
        height: 48px;
        
    }

    
    .headerRow ul li a:hover,
    .headerRow ul li a:focus{
    
    padding-bottom: 1px;
    
}
    

  }

@media (min-width: 576px) { 

}